*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*================================================= TOOL BAR ================================================== */
div.view-toolbar{
  position: absolute;
  margin: 0;
  height: 48px;
  width: 100%;
  overflow: hidden;
  text-align:center;
}
/*================================================= tool bar button ================================================== */
.view-toolbar-button{
  cursor: pointer;
  margin: 0;
  height: 48px;
  width: 48px;
  padding: 1px 2px;
  overflow: hidden;
  border: 1px solid #F9F9F9;
  display: inline-block;
  font-size: 18px;
  background-color: #607D8B;
  color: #F9F9F9;
  font-family: 'Droid Sans', sans-serif;
  border: 1px solid #F9F9F9;
}
.view-toolbar button{
  font-size: 24px;
}
